@charset "UTF-8";
/*Main*/
body{
 background-color: yellow;
}
#page_container{
	background-color: whitesmoke;
}
#question_title{
	padding-top: 20px;
}
/*Question-1*/
.circle-border {
	border: 8px solid #000;
	background-color: white;
	height: 70px;
	width: 70px;
	border-radius: 75px;
	position: absolute;
}
.circle-border:hover {
	border: 8px solid green;
}
.triangle {
	position: relative;
	width: 0;
	border-bottom: solid 75px black;
	border-right: solid 50px transparent;
	border-left: solid 50px transparent;
}
.triangle .empty {
	position: absolute;
	top: 13px;
	left: -36px;
	width: 0;
	border-bottom: solid 56px white;
	border-right: solid 36px transparent;
	border-left: solid 36px transparent;
}
.triangle:hover {
	border-bottom: solid 75px green;
}
.circle-border p {
	margin-left: 1px;
	margin-top: -2px;
	font: bolder;
	font-size: 40px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	color: black;
}
.circle-border p:hover {
	color: #60B043;
}
.triangle .text {
	margin-left: -12px;
	padding-top: 5px;
	position: absolute;
	font: bolder;
	font-size: 40px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	color: black;
	text-align: center;
}
.triangle .text:hover {
	color: #60B043;
}
.circle-selected {
	background-color: darkgreen;
	border: 8px solid green;
}
.circle-selected p {
	color: lightgreen;
}
.triangle-selected {
	border-bottom: solid 75px green;
}
.triangle-selected .empty {
	border-bottom: solid 56px darkgreen;
}
.triangle-selected .text {
	color: lightgreen;
}
.circle-1 {
	margin-left: 700px;
	margin-top: 280px;
}
.triangle-2 {
	margin-left: -40px;
	margin-top: -60px;
}